#div_form {
    border: 1px solid black;
    margin: 10px;
    padding : 10px;
    width: 15%;
}

input {
    margin: 5px;
}

table {
    border : 1px solid #000;
    margin : 10px;
    padding : 10px;
}